@import "bootstrap";

$grayMediumLight: #eaeaea;

/* universal */


html {
  /*Свойство overflow-y управляет отображением содержания блочного элемента по вертикали, если контент целиком не помещается и выходит за область сверху или снизу от блока*/
  overflow-y: scroll; /*Всегда добавляется вертикальная полоса прокрутки*/
}

body {
  /*Устанавливает значение поля от верхнего края содержимого элемента. Полем называется расстояние от внутреннего края рамки элемента до воображаемого прямоугольника, ограничивающего его содержимое*/
  padding-top: 60px;
}

section {
  /*Свойство overflow управляет отображением содержания блочного элемента, если оно целиком не помещается и выходит за область заданных размеров.*/
  overflow: auto; /*Полосы прокрутки добавляются только при необходимости.*/
}

textarea {
  /*Указывает, можно ли пользователю изменять размеры текстового поля.*/
  resize: vertical; /*Можно изменять размеры элемента только по вертикали.*/
}

.center {
  text-align: center;
  h1 {
  	 /*Устанавливает величину отступа от нижнего края элемента. Отступом является расстояние от внешнего края нижней границы текущего элемента до внутренней границы его родительского элемента*/
  	margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  /*Устанавливает интерлиньяж (межстрочный интервал) текста, отсчет ведется от базовой линии шрифта. При обычных обстоятельствах расстояние между строками зависит от вида и размера шрифта и определяется браузером автоматически. Отрицательное значение межстрочного расстояния не допускается.*/
  line-height: 1;
}

h1 {
  font-size: 3em;
  /*Определяет интервал между символами в пределах элемента. Браузеры обычно устанавливают расстояние между символами, исходя из типа и вида шрифта, его размеров и настроек операционной системы. Чтобы изменить это значение и применяется данное свойство. Допустимо использовать отрицательное значение, но в этом случае надо убедиться, что сохраняется читабельность текста.*/
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
  	color: $white;
  	text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
  	color: $gray;
  	&:hover {
  	  color: $grayDarker;
  	}
  }
  small {
  	float: left;
  }
  ul {
  	float: right;
  	list-style: none;
  	li {
  	  float: left;
      margin-left: 10px;
  	}
  }
}